.gif-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}

.random-container h2 {
  margin: 10px;
}

.gif-detail-container img {
  margin: 20px;
}

.details {
  text-align: center;
  margin-bottom: 20px;
}

.details h2 {
  margin: 5px;
}
