* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  height: 70px;
}

.main-container {
  width: 100%;
  height: calc(100vh - 70px);
  padding: 16px;
  background-color: #000;
  color: #fff;
}

.spinner {
  color: #fff;
  text-align: center;
}

.gif {
  padding: 0 2px;
}

::placeholder {
  font-size: 17px;
  margin-bottom: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

@media screen and (max-width: 1080px) {
  .site-icon {
    font-size: 80px !important;
  }
  .site-title {
    font-size: 1.5rem !important;
  }
  .nav ul {
    font-size: 1rem !important;
  }
  .categories-container h3 {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 950px) {
  .category-btn:first-of-type {
    margin-left: 10px !important;
  }
  .category-btn {
    margin: 10px 5px 7px !important;
  }
  .search-container input {
    width: 250px !important;
  }
  .container {
    height: calc(100vh - 70px) !important;
    padding: 0px !important;
  }
  .feed-container {
    flex-direction: column;
  }
  .searchfeed-container {
    align-items: center;
  }
  .results {
    padding: 10px 0px !important;
  }
  .searched-container {
    width: 100% !important;
    height: 100% !important;
    padding: 5px !important;
  }
  .searched-container img {
    width: 100%;
  }
  .sidebar-container {
    height: auto !important;
    overflow-x: scroll;
    overflow-y: none !important;
    margin-bottom: 5px;
  }
  .categories-container {
    display: flex;
    flex-direction: row !important;
    width: auto !important;
    margin-bottom: 5px;
  }
  .categories-container h3 {
    display: none;
  }
  .categories-container a {
    white-space: nowrap;
  }
  #br {
    display: none;
  }
  .gifs-section {
    margin-top: 10px;
    padding: 0px !important;
    margin-left: 0px !important;
  }
  .category {
    padding-bottom: 0px !important;
    margin-left: 15px;
  }
  .gifs-container {
    margin-top: 10px !important;
    padding: 0px 8px 10px;
  }
  .gifs-container img {
    max-width: 100%;
  }
  .upload-container {
    width: 100% !important;
  }
  .gif-detail-container {
    padding: 0px 8px 8px 8px;
  }
  .form-container {
    width: 100% !important;
  }
  .form-container form {
    padding: 20px !important;
  }
  .form-input {
    width: 100% !important;
  }
  .uploading {
    margin-bottom: 40px;
  }
  footer {
    /* display: none !important; */
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }
}

@media screen and (max-width: 860px) {
  .site-title {
    font-size: 1.5rem !important;
  }
  .nav ul {
    font-size: 0.9rem !important;
  }
  .search-container input {
    width: 200px !important;
  }
}

@media screen and (max-width: 800px) {
  .search-container input {
    width: 155px !important;
  }
}

@media screen and (max-width: 760px) {
  .site-title {
    font-size: 1rem !important;
  }
  .search-container input {
    width: 160px !important;
  }
  .nav-icon {
    font-size: 35px !important;
  }
  .gif-detail-container {
    width: 100%;
  }
  .gif-detail-container img {
    width: 100%;
  }
}

@media screen and (max-width: 680px) {
  nav {
    flex-direction: column;
    height: 140px !important;
  }
  .site-icon {
    font-size: 50px !important;
  }
  .search-container input {
    width: 220px !important;
  }
  .nav ul {
    font-size: 1.2rem !important;
    justify-content: space-between;
    align-items: stretch;
  }
  .nav a {
    height: 50px !important;
  }
  .site-title {
    font-size: 1.4rem !important;
  }
  .container {
    height: calc(100vh - 140px) !important;
    padding: 0px !important;
  }
}

@media screen and (max-width: 500px) {
  nav {
    flex-direction: column;
    height: 190px !important;
  }
  .nav-section {
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    gap: 0 !important;
  }
  .search-container input {
    width: 250px !important;
  }
  .nav ul {
    font-size: 1rem !important;
    justify-content: space-between;
    align-items: stretch;
  }
  .nav a {
    height: 50px !important;
  }
  .site-title {
    font-size: 1.6rem !important;
  }
  .container {
    height: calc(100vh - 190px) !important;
    padding: 0px !important;
  }
  .details {
    font-size: 16px;
  }
  .copyright {
    padding: 0px 5px;
  }
  /* footer {
    display: block !important;
  } */
}
